* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  padding: 0;
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: all 0.5s;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  padding: 0;
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: all 0.5s;
}

.header {
  height: 50px;
  background: #000000;
  display: flex;
  align-items: center;
}
.header .container .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .nav-bar .user-direct a {
  margin-right: 10px;
  font-size: 16px;
  display: inline-block;
  color: #f8f8f8;
  font-weight: 24px;
}

carousel .container .frame-route {
  height: 75px;
  display: flex;
  align-items: center;
}
carousel .container .frame-route a {
  color: #000000;
  margin-right: 24px;
  font-size: 16px;
  font-weight: 300;
  transition: all 0.5s;
  position: relative;
}
carousel .container .frame-route a::after {
  content: "";
  height: 2px;
  background-color: #000000;
  position: absolute;
  bottom: -3px;
  width: 0%;
  left: 0;
  transition: all 0.5s;
}
carousel .container .frame-route a:hover::after {
  width: 100%;
}

.detail__product .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail__product .container .img__prod img {
  width: 300px;
}
.detail__product .container .info__prod .prod__name {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  padding-top: 40px;
}
.detail__product .container .info__prod .prod__desc {
  font-size: 16px;
  font-weight: 300;
  color: #cbc9c9;
  padding-bottom: 20px;
}
.detail__product .container .info__prod .available__size {
  color: #1ed90e;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
}
.detail__product .container .info__prod .size__option a .box-size {
  background-color: #cbc9c9;
  color: #000000;
  font-weight: 600;
  margin-right: 20px;
  height: 50px;
  width: 50px;
}
.detail__product .container .info__prod .price {
  color: #fc0303;
  margin: 30px 0;
  font-size: 30px;
  font-weight: 600;
}
.detail__product .container .info__prod .quantity button {
  height: 50px;
  width: 50px;
  background: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
  color: #fffcfc;
  border: none;
}
.detail__product .container .info__prod .quantity span {
  font-size: 30px;
  font-weight: 400;
  margin: 0 10px;
}
.detail__product .container .info__prod a .add__to__cart {
  width: 175px;
  height: 64px;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
  color: #fffcfc;
  border: none;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 500;
}

.header {
  height: 50px;
  background: #000000;
  display: flex;
  align-items: center;
}
.header .container .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .nav-bar .user-direct a {
  margin-right: 10px;
  font-size: 16px;
  display: inline-block;
  color: #f8f8f8;
  font-weight: 24px;
}

carousel .container .frame-route {
  height: 75px;
  display: flex;
  align-items: center;
}
carousel .container .frame-route a {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  transition: all 0.5s;
  position: relative;
}
carousel .container .frame-route a::after {
  content: "";
  height: 2px;
  background-color: #000000;
  position: absolute;
  bottom: -3px;
  width: 0%;
  left: 0;
  transition: all 0.5s;
}
carousel .container .frame-route a:hover::after {
  width: 100%;
}
carousel .container .carousel {
  background-image: url(../../img/image6.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 530px;
}
carousel .container .carousel li {
  height: 15px;
  width: 16px;
  background-image: url(../../img/Ellipse3.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  margin-bottom: 80px;
  margin-right: 15px;
  margin-left: 15px;
}
carousel .container .carousel .carousel-inner .carousel-item img {
  margin-left: 86px;
}
@media screen and (max-width: 1280px) {
  carousel .container .carousel .carousel-inner .carousel-item img {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  carousel .container .carousel .carousel-inner .carousel-item img {
    width: 60%;
    transform: translateY(50%);
  }
}
@media screen and (max-width: 414px) {
  carousel .container .carousel .carousel-inner .carousel-item img {
    width: 450px;
    transform: translateY(-10%);
  }
}
@media screen and (max-width: 375px) {
  carousel .container .carousel .carousel-inner .carousel-item img {
    width: 400px;
    transform: translateY(10%);
  }
}
carousel .container .carousel .carousel-inner .carousel-item .prodInfo {
  margin-top: 102px;
  transform: translateX(-150px);
  float: right;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (max-width: 1280px) {
  carousel .container .carousel .carousel-inner .carousel-item .prodInfo {
    font-size: 16px;
    transform: translateY(-160%);
    margin-right: 80px;
  }
}
@media screen and (max-width: 768px) {
  carousel .container .carousel .carousel-inner .carousel-item .prodInfo {
    font-size: 16px;
    transform: translateY(-90%);
  }
}
@media screen and (max-width: 414px) {
  carousel .container .carousel .carousel-inner .carousel-item .prodInfo {
    width: 90px;
    transform: translateY(-160%);
    transform: translateX(-200%);
    margin-top: -30px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 375px) {
  carousel .container .carousel .carousel-inner .carousel-item .prodInfo {
    width: 90px;
    transform: translateY(-160%);
    transform: translateX(-200%);
    margin-top: -10px;
    margin-right: 30px;
  }
}
carousel .container .carousel .carousel-inner .carousel-item .prodInfo .productName {
  font-size: 40px;
  font-weight: 300;
}
@media screen and (max-width: 414px) {
  carousel .container .carousel .carousel-inner .carousel-item .prodInfo .productName {
    font-size: 24px;
    width: 150px;
  }
}
@media screen and (max-width: 375px) {
  carousel .container .carousel .carousel-inner .carousel-item .prodInfo .productName {
    font-size: 24px;
  }
}
carousel .container .carousel .carousel-inner .carousel-item .prodInfo .productDescription {
  font-size: 20px;
  font-weight: 300;
}
@media screen and (max-width: 414px) {
  carousel .container .carousel .carousel-inner .carousel-item .prodInfo .productDescription {
    font-size: 14px;
  }
}
@media screen and (max-width: 375px) {
  carousel .container .carousel .carousel-inner .carousel-item .prodInfo .productDescription {
    font-size: 14px;
  }
}
carousel .container .carousel .carousel-inner .carousel-item .prodInfo a {
  cursor: pointer;
}
carousel .container .carousel .carousel-inner .carousel-item .prodInfo a button {
  height: 64px;
  width: 175px;
  background-color: #e1b067;
  color: #000000;
  font-size: 24px;
  font-weight: 200;
  border: none;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 300;
}
carousel .container .carousel button .carousel-control-prev-icon {
  background-image: url(../../img/Polygon2.png);
  margin-right: 80px;
}
carousel .container .carousel button .carousel-control-next-icon {
  background-image: url(../../img/Polygon1.png);
  width: 0%;
  margin-left: 80px;
}

.product__feature .container h1 {
  margin: 30px 0;
}
.product__feature .container .row {
  margin: 0;
}
.product__feature .container .row .col-4 {
  height: 369px;
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .product__feature .container .row .col-4 {
    width: 50%;
  }
}
@media screen and (max-width: 414px) {
  .product__feature .container .row .col-4 {
    width: 100%;
  }
}
.product__feature .container .row .col-4 .item {
  height: 100%;
  background-color: #f8f8f8;
}
.product__feature .container .row .col-4 .item .prod__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__feature .container .row .col-4 .item .prod__img img {
  width: 220px;
}
.product__feature .container .row .col-4 .item .product__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 145px;
}
.product__feature .container .row .col-4 .item .product__info .prod__desc {
  font-size: 16px;
  font-weight: 300;
  color: #cbc9c9;
  padding-bottom: 20px;
}
.product__feature .container .row .col-4 .item .action__btn {
  display: flex;
  height: 64px;
}
.product__feature .container .row .col-4 .item .action__btn a {
  width: 50%;
  height: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1b067;
  font-weight: 200;
  font-size: 20px;
  color: #000000;
  transition: all 0.2s;
}
.product__feature .container .row .col-4 .item .action__btn a:hover {
  font-weight: 600;
}
.product__feature .container .row .col-4 .item .action__btn .price {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dedddc;
  font-size: 24px;
  font-weight: 600;
}

.footer .footer__top .container {
  padding: 30px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
}
@media screen and (max-width: 768px) {
  .footer .footer__top .container {
    padding: 30px 30px;
  }
}
@media screen and (max-width: 414px) {
  .footer .footer__top .container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  .footer .footer__top .container {
    display: flex;
    flex-direction: column;
  }
}
.footer .footer__top .container .footer__register {
  border-right: none;
}
.footer .footer__top .container ul {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  border-right: 1.5px solid rgba(181, 179, 179, 0.3);
  width: 420px;
}
@media screen and (max-width: 768px) {
  .footer .footer__top .container ul {
    font-size: 20px;
  }
}
@media screen and (max-width: 414px) {
  .footer .footer__top .container ul {
    border-right: none;
    margin-top: 20px;
    width: 100%;
    padding-left: 0;
  }
}
@media screen and (max-width: 375px) {
  .footer .footer__top .container ul {
    width: 100%;
    margin-top: 30px;
    padding-left: 0;
  }
}
.footer .footer__top .container ul a {
  display: inline-block;
  color: #000000;
}
.footer .footer__top .container ul a li {
  font-size: 16px;
  font-weight: 300;
  list-style: none;
  margin-top: 10px;
}
.footer .footer__top .container ul a li:hover {
  color: red;
  transition: all 0.3s;
}
.footer .footer__top .container ul p {
  font-size: 16px;
  font-weight: 300;
}
@media screen and (max-width: 414px) {
  .footer .footer__top .container ul p {
    margin-right: 30px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 375px) {
  .footer .footer__top .container ul p {
    margin-right: 6px;
    margin-top: 20px;
  }
}
.footer .footer__top .container ul .learnmore {
  color: rgb(196, 6, 6);
  font-weight: 400;
}
.footer .footer__bottom {
  background-color: #dedddc;
}
.footer .footer__bottom .container {
  padding: 30px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer .footer__bottom .container {
    padding: 30px 30px;
  }
}
@media screen and (max-width: 414px) {
  .footer .footer__bottom .container {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  .footer .footer__bottom .container {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
  }
}
.footer .footer__bottom .container .footer__register {
  border-right: none;
}
.footer .footer__bottom .container ul {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  border-right: 1.5px solid rgba(181, 179, 179, 0.3);
  width: 420px;
}
@media screen and (max-width: 768px) {
  .footer .footer__bottom .container ul {
    font-size: 20px;
  }
}
@media screen and (max-width: 414px) {
  .footer .footer__bottom .container ul {
    border-right: none;
    width: 100%;
    margin-top: 20px;
    padding-left: 0;
  }
}
@media screen and (max-width: 375px) {
  .footer .footer__bottom .container ul {
    width: 100%;
    margin-top: 30px;
    padding-left: 0;
  }
}
.footer .footer__bottom .container ul a {
  display: inline-block;
  color: #000000;
}
.footer .footer__bottom .container ul a li {
  font-size: 16px;
  font-weight: 300;
  list-style: none;
  margin-top: 10px;
}
.footer .footer__bottom .container ul a li:hover {
  color: red;
  transition: all 0.3s;
}
.footer .footer__bottom .container ul p {
  font-size: 16px;
  font-weight: 300;
  margin-right: 15px;
}
@media screen and (max-width: 414px) {
  .footer .footer__bottom .container ul p {
    margin-right: 30px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 375px) {
  .footer .footer__bottom .container ul p {
    margin-right: 36px;
    margin-top: 20px;
  }
}
.footer .footer__bottom .container ul .learnmore {
  color: rgb(196, 6, 6);
  font-weight: 400;
}/*# sourceMappingURL=index.css.map */