//font size
$default: 16px;
$small: 20px;
$medium: 24px;
$big: 30px;
$bigger: 40px;

// font weight
$thin: 200;
$light: 300;
$bold: 400;
$bolder: 600;
//color
$pri: #f8f8f8;
$scd: #000000;
$thd: #e1b067;

// background
@mixin background() {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

// display flex
@mixin flex {
  display: flex;
  align-items: center;
}
//buynow button
@mixin buyNow {
  height: 64px;
  width: 175px;
  background-color: #e1b067;
  color: #000000;
  font-size: 24px;
  font-weight: 200;
}
// footer link
@mixin footername {
  font-size: $small;
  font-weight: $bolder;
 
}

@mixin footerlink {
  font-size: $default;
  font-weight: $light;
  
}
