//font size
$fs: 16px;
$fs-x: 20px;
$fs-sm: 24px;
$fs-md: 30px;
$fs-lg: 40px;

// font weight
$fw: 200;
$fw-sm: 300;
$fw-md: 400;
$fw-lg: 600;
//color
$pri: #f8f8f8;
$scd: #000000;
$thd: #e1b067;

// background
@mixin background() {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

// display flex
@mixin flex {
  display: flex;
  align-items: center;
}

@mixin buyNow {
  height: 64px;
  width: 175px;
  background-color: #e1b067;
  color: #000000;
  font-size: 24px;
  font-weight: 200;
}
